
<body class="aa is-fullheight">
    <br>
<div class="flip">
    <div class="front">
        <p> 
            Always stay this sweet, strong and cheerful angel. I wish this birthday brings all your joys and wishes like you bring to others. 
            
            (pls. apni poems ki book sbse pehle mujhe bhejna)
        </p>
     </div>
    <div class="back" style="background-image: url('/assets/img/bhavna.jpeg')">
       <h1 class="text-shadow"></h1>
    </div>
    
</div>
<div class="flip">
    <div class="front">
        <p>I promise that the more birthday candles you blow, the more I will be here for you to celebrate every special event in your life. Happy birthday Aayushi!!</p>
     </div>
    <div class="back" style="background-image: url('/assets/img/ss.jpg')">
    </div>
    
</div>
<div class="flip">
    <div class="front">
        <p>Good tools make application development quicker and easier to maintain than if you did everything by hand..</p>
     </div>
    <div class="back" style="background-image: url('/assets/img/parul.jpeg')">
    </div>
    
</div>

<br>
<br>

<!-- vertical -->
  
<div class="flip flip-vertical">
    <div class="front">
        <p>Good tools make application development quicker and easier to maintain than if you did everything by hand..</p>
     </div>
    <div class="back" style="background-image: url(https://images.pexels.com/photos/38136/pexels-photo-38136.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
       <h1 class="text-shadow">FOREST</h1>
    </div>
    
</div>
<div class="flip flip-vertical">
    <div class="front">
        <p>Good tools make application development quicker and easier to maintain than if you did everything by hand..</p>
     </div>
    <div class="back" style="background-image: url(https://images.pexels.com/photos/34950/pexels-photo.jpg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
       <h1 class="text-shadow">TRACK</h1>
    </div>
    
</div>
<div class="flip flip-vertical">
    <div class="front">
        <p>Good tools make application development quicker and easier to maintain than if you did everything by hand..</p>
     </div>
    <div class="back" style="background-image: url(https://images.pexels.com/photos/34546/sunset-lake-landscape-summer.jpg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
       <h1 class="text-shadow">SWAMP</h1>
    </div>
    
</div>

<br>
<br>

<div class="flip">
    <div class="front">
        <p>Good tools make application development quicker and easier to maintain than if you did everything by hand..</p>
     </div>
    <div class="back" style="background-image: url(https://images.pexels.com/photos/540518/pexels-photo-540518.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
       <h1 class="text-shadow">MOUNTAIN</h1>
    </div>
    
</div>
<div class="flip">
    <div class="front">
        <p>Good tools make application development quicker and easier to maintain than if you did everything by hand..</p>
     </div>
    <div class="back" style="background-image: url(https://images.pexels.com/photos/414171/pexels-photo-414171.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
       <h1 class="text-shadow">LAKE</h1>
    </div>
    
</div>
<div class="flip">
    <div class="front">
        <p>Good tools make application development quicker and easier to maintain than if you did everything by hand..</p>
     </div>
    <div class="back" style="background-image: url(https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
       <h1 class="text-shadow">OCEAN</h1>
    </div>
    
</div>

<br>
<br>
  
</body>
  