<section class="hero is-primary is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="tile is-ancestor">
            <div class="tile is-vertical is-8">
              <div class="tile">
                <div class="tile is-parent is-vertical">
                  <article class="tile is-child notification is-primary">
                    <p class="title"> <br>
                       Apno se badhkar ho tum <br>
                                      rishta ye ajeeb sa h <br>
                                      dosti ka ye nata <br>
                                      dil k bda karib sa h
                    </p>
                  </article>
                  <article class="tile is-child notification is-warning">
                    <p class="title"> Kuch rishte hme milte h <br>
                    kuch ham chunte h <br>
                    ek nayi duniya jse <br>
                    khwabon m bunte h <br>
                    us khwab ko tumne hakikat bna diya <br>
                    katon k takhat ko falak bna diya <br>
                    tum pyaar nhi ho mera <br>
                    pr pyaar nibhana tumse seekha hai 
                    </p>
                  </article>
                </div>
                <div class="tile is-parent">
                  <article class="tile is-child notification is-info">
                    <p class="title">Muskarane wala lamha fir laut aayega <br> fir vk ki chai ka vo daur aayega <br> shaamein haseein 
                        ban jaengi <br> raatein fir rang jayengi <br> heater ki garmi me fir din bhar ka kissa dohraya jaega <br>
                        ye vakt bhi guzar jaayega <br>
                    </p>
                    <p class="subtitle"></p>
                    <figure class="image is-4by3">
                      <img src="/assets/img/bday1.jpeg">
                    </figure>
                  </article>
                </div>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child notification is-danger">
                  <p class="title"> Har haal me dosti nibhana tumse seekha hai... </p>
                  <div class="content">
                    <!-- Content -->
                  </div>
                </article>
              </div>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child notification is-success">
                <div class="content">
                  <p class="title"> Maine khuda se pucha- <br> tune mujhe kya diya? <br>
                    usne haskar kaha...<br> Maa-baap ke roop me tujhe jannat di <br> adhyapak dekar puri teri mannat ki<br>
                    tu mujhe apni zindagi dede <br> tere jeevan ki hai mujhe aas <br> jiske yaaro ko dekhkar swaraj jalta ho <br>
                    usse dene ke liye kuch nhi hai mere pass
                </p>
                  
                </div>
              </article>
            </div>
          </div>
      </div>
    </div>
  </section>

